/archive-3/
/images/
/videos/
/Archive_Files/
/model.pth/
/model.h5/
/nfshome/kehawkins/test_rundir/CPSC542-FinalProject/model.h5
/nfshome/kehawkins/test_rundir/CPSC542-FinalProject/model.pth
/keras_tuner_dir/